//
   Created by peter on 7/2/15.

doctype html
html(lang="en" ng-app="app")
   head
      link(rel="stylesheet" href="/css/style.min.css")
      link(rel="stylesheet" href="/css/flatty.min.css")
      link(rel="icon" href="/favicon/favicon.ico")

      script(src="/js/angular.min.js")
      script(src="/js/angular-route.js")
      script(src="/socket.io/socket.io.js")
      script(src="/js/angular-jwt.min.js")
      script(src="/js/humane.min.js")
      script(src="/js/marked.min.js")
      script(src="/js/router.js")
      script(src="/js/controllers.js")
      script(src="/js/script.js")

      title Colleton County NHS
   body(ng-controller="mainCtl")
      .navbar
         img(src="/png/nhs-white.png")
         | &nbsp;&nbsp;
         a.nav(href="#/news") News
         a.perm-1.nav(href="#/group") Projects
         a.perm-1.nav(href="#/chat") Live Chat
         a.perm-1.nav(href="#/u/{{token.id}}") My Profile
         a.g.nav(href="#/login") Sign In
         a.g.nav(href="#/register") Register
         #search(ng-controller="searchCtl")
            input(type="text" ng-change="getsearch()" ng-model="query" placeholder="Search...")
            .resultbox(ng-repeat="x in results.users")
               a(href="#/u/{{x.id}}")
                  div
                     .resultname {{x.name}}
                     .resulttitle {{x.title}}
         #dropdown
            span#ddtitle {{token.title}} #[i.down]
            a.g.nav(href="#/login") Sign In
            a.g.nav(href="#/register") Register
            a.perm-1.nav(href="javascript:localStorage.removeItem('token');location.reload();") Sign Out
      div#main
         div(ng-view)
