//
   Created by peter on 7/2/15.

doctype html
html(lang="en" ng-app="app")
   head
      link(rel="stylesheet" href="/css/style.css")
      link(rel="icon" href="/favicon/favicon.ico")

      script(src="/js/angular.min.js")
      script(src="/js/angular-route.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(src="/js/readmore.min.js")
      script(src="/js/router.js")
      script(src="/js/controllers.js")
      script(src="/js/script.js")

      title Colleton County NHS
   body()
      .navbar
         img(src="/png/nhs-color-white.png")
         | &nbsp;&nbsp;
         a.nav(href="#news") News
         a.nav(href="#group") Projects
         a.nav(href="#u/#{id}") My Profile
         #search(ng-controller="searchCtl")
            input(type="text" ng-change="getsearch()" ng-model="query" placeholder="Search...")
            .resultbox(ng-repeat="x in results.users")
               a(href="#/u/{{x.id}}")
                  div
                     .resultname {{x.name}}
                     .resulttitle {{x.title}}
         #dropdown
            span#ddtitle Admin #[i.down]
            a(href="javascript:;") Link
            a(href="javascript:;") Test
      div#quicklook
      div#main
         div(ng-view)