//
   Created by peter on 7/2/15.

doctype html
html(lang="en" ng-app="app")
   head
      link(rel="stylesheet" href="/css/style.css")
      link(rel="icon" href="/favicon/favicon.ico")

      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js")
      script(src="/js/angular-jwt.min.js")
      script(src="https://cdn.socket.io/socket.io-1.3.5.js")
      script(src="/js/router.js")
      script(src="/js/controllers.js")
      script(src="/js/script.js")

      title Colleton County NHS
   body(ng-controller="mainCtl")
      .navbar
         img(src="/png/nhs-white.png")
         | &nbsp;&nbsp;
         a.nav(href="#/news") News
         a.perm-1.nav(href="#/group") Projects
         a.perm-1.nav(href="#/chat") Live Chat
         a.perm-1.nav(href="#/u/{{token.id}}") My Profile
         a.g.nav(href="#/login") Sign In
         a.g.nav(href="#/register") Register
         #search(ng-controller="searchCtl")
            input(type="text" ng-change="getsearch()" ng-model="query" placeholder="Search...")
            .resultbox(ng-repeat="x in results.users")
               a(href="#/u/{{x.id}}")
                  div
                     .resultname {{x.name}}
                     .resulttitle {{x.title}}
         #dropdown
            span#ddtitle {{token.title}} #[i.down]
            a.g.nav(href="#/login") Sign In
            a.g.nav(href="#/register") Register
            a.perm-1.nav(href="javascript:delete localStorage.token;location.reload();") Sign Out
      div#main
         div(ng-view)
