<div class="container">
    <img src="/png/nhs-alt.png">
</div>
<hr>
<div class="container" ng-controller="logCtl">
    <h2>Colleton County National Honors Society</h2>

    <form id="signin" ng-submit="log_in()"> <a href="#/register" style="margin-left:15px;">Register</a>

        <fieldset>
            <input type="email" placeholder="Email" ng-model="email" />
            <input type="password" placeholder="Password" ng-model="password" />
            <button>Submit</button>
        </fieldset>
    </form>
</div>